<mat-toolbar color="primary">
    <mat-spinner *ngIf="onLoading"></mat-spinner>
    <span>
        <a routerLink="/" mat-button >Post List</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAunthenticated">
            <a mat-button routerLink="/create">New Post</a>
        </li>
        <li *ngIf="!userIsAunthenticated">
            <a mat-button routerLink="/login">login</a>
        </li>
        <li *ngIf="!userIsAunthenticated">
            <a mat-button routerLink="/signup">signup</a>
        </li>
        <li *ngIf="userIsAunthenticated">
            <button mat-button (click)="onLogout()">Logout</button>
        </li>
    </ul>
</mat-toolbar>