<mat-card>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="post title" [(ngModel)]="postTitle" name="name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="post content" [(ngModel)]="postContent" name="name"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)=" clickOnButton()">Save Post
    </button>
    </form>
</mat-card>