<mat-card>
    <form class="example-form" (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="post title" ngModel name="title">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="post content" ngModel="postContent" name="content"></textarea>
        </mat-form-field>
        <button mat-raised-button type="submit">Save Post
    </button>
    </form>
</mat-card>