.example-form {
    max-width: 100%;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

mat-spinner{
  margin: auto;
}

input[type="file"]{
  visibility: hidden;
}

.img-preview{
  height: 5 rem;
  margin: 1 rem 0;
}
.img-preview img{
  height: 100%;
}
